@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 1rem;
}

@media all and (max-width: 481px) {
  html {
    font-size: .8rem;
  }
}

#m-index section, #m-index section > div, #m-index section .carousel img, #m-vinos section, #m-vinos section > div, #m-turismo section > div, #m-rest section, #m-bodega section, #m-bodega section .carousel img {
  height: 100vh;
}

@media all and (max-width: 768px) {
  nav {
    background-color: #E6DDC4;
  }
}

nav .navbar-nav a {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

nav .navbar-nav a:hover {
  border-bottom: 1px #000 solid;
}

@media all and (max-width: 768px) {
  nav .navbar-nav a:hover {
    border-bottom: none;
  }
}

nav .navbar-nav .nav-link {
  padding: 0;
}

@media all and (max-width: 768px) {
  .fixed-top {
    position: static;
  }
}

footer {
  background-color: #533535;
}

footer > div {
  height: 40vh;
}

footer > div a i {
  color: #F0E9D2;
  font-size: 5rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media all and (max-width: 768px) {
  footer > div a i {
    font-size: 2rem;
  }
}

footer > div a i:hover {
  color: #F0E9D2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer > div iframe {
  height: 20rem;
  width: 75%;
}

@media all and (max-width: 768px) {
  footer > div iframe {
    height: 10rem;
    width: 90%;
  }
}

#m-index section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-index section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-index section .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-index section .cont-text {
  width: 80%;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  #m-index section .cont-text {
    width: 90%;
  }
}

#m-index section .cont-img {
  width: 50%;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  #m-index section .cont-img {
    width: 65%;
  }
}

#m-index section .cont-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-vinos section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-vinos section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-vinos .cont-text {
  width: 80%;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  #m-vinos .cont-text {
    width: 90%;
  }
}

#m-vinos .cont-img {
  width: 50%;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  #m-vinos .cont-img {
    width: 65%;
  }
}

#m-vinos .cont-img img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-vinos .cont-botellitas img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#m-turismo section {
  height: auto;
  background-color: #E6DDC4;
}

@media all and (max-width: 576px) {
  #m-turismo section > div {
    height: 0%;
  }
}

#m-turismo section > div:nth-child(2) {
  margin-top: -10%;
}

@media all and (max-width: 576px) {
  #m-turismo section > div:nth-child(2) {
    margin-top: 0%;
  }
}

@media all and (max-width: 576px) {
  #m-turismo section .tarjeta-primera {
    margin-top: 5%;
  }
}

@media all and (max-width: 576px) {
  #m-turismo section .tarjeta {
    margin-bottom: 10%;
  }
}

#m-turismo section .tarjeta .fondo {
  margin: 0 auto;
  background-color: #E6DDC4;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  -webkit-transition: 900ms;
  transition: 900ms;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  #m-turismo section .tarjeta .fondo {
    background-color: #F0E9D2;
  }
}

#m-turismo section .tarjeta .fondo:hover {
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-turismo section .tarjeta .fondo .image img {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

#m-rest section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-rest section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-rest section .cont-table {
  height: 100vh;
}

@media all and (max-width: 576px) {
  #m-rest section .cont-table {
    height: 70vh;
  }
}

#m-rest section .cont-table table {
  margin: 0 auto;
  width: 80%;
  cursor: pointer;
}

@media all and (max-width: 576px) {
  #m-rest section .cont-table table {
    width: 100%;
    margin-top: 25%;
  }
}

#m-rest section .cont-img {
  margin: 0 auto;
  height: 100vh;
}

@media all and (max-width: 576px) {
  #m-rest section .cont-img {
    height: 30vh;
  }
}

#m-rest section .cont-img div {
  height: 60%;
  width: 100%;
}

#m-rest section .cont-img div img {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-bodega section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-bodega section:nth-child(even) {
  background-color: #E6DDC4;
}

@media all and (max-width: 576px) {
  #m-bodega section {
    height: 0%;
  }
}

#m-bodega section .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-bodega section .cont-max {
  max-width: 1400px;
}

#m-bodega section .personal img {
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
  border-radius: 50%;
}
/*# sourceMappingURL=estilos.css.map */