@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media all and (max-width: 1130px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 475px) {
  body {
    font-size: 12px;
  }
}

.cont-img img, #m-rest section div:nth-child(2) div img {
  border-radius: 20px;
}

.cont-altura {
  height: auto;
}

.cont-altura > div {
  padding: 5rem 0;
}

@media all and (max-width: 767px) {
  .cont-altura > div {
    padding: 1.5rem 0;
  }
}

.cont-img {
  width: 50%;
}

@media all and (max-width: 767px) {
  .cont-img {
    width: 65%;
  }
}

.cont-img img {
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

nav {
  background-color: #E6DDC4;
}

@media all and (max-width: 991px) {
  nav {
    background-color: #E6DDC4;
  }
}

nav .alt-nav {
  height: auto;
}

@media all and (min-width: 991px) {
  nav .alt-nav {
    height: 55px;
  }
}

nav #navbarNav a {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

nav #navbarNav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 600ms ease-out;
  transition: -webkit-transform 600ms ease-out;
  transition: transform 600ms ease-out;
  transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

nav #navbarNav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav #navbarNav .nav-link {
  padding-bottom: 0;
}

@media all and (max-width: 991px) {
  .fixed-top {
    position: static;
  }
}

footer {
  background-color: #533535;
  min-height: 40vh;
}

footer a i {
  color: #F0E9D2;
  font-size: 5rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media all and (max-width: 767px) {
  footer a i {
    font-size: 2rem;
  }
}

footer a i:hover {
  color: #F0E9D2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer div:nth-child(2) {
  height: 75%;
}

@media all and (max-width: 767px) {
  footer div:nth-child(2) {
    height: 50%;
    width: 90%;
  }
}

#m-index section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-index section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-index section .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-index section .cont-text {
  width: 80%;
}

@media all and (max-width: 576px) {
  #m-index section .cont-text {
    width: 90%;
  }
}

#m-index section .cont-text .miBoton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#m-index section .cont-text .miBoton:hover {
  border: 2px solid #533535;
}

#m-index section .cont-text .uno {
  background-color: #F0E9D2;
}

#m-index section .cont-text .dos {
  background-color: #E6DDC4;
}

#m-vinos section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-vinos section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-vinos .cont-text {
  width: 80%;
}

@media all and (max-width: 576px) {
  #m-vinos .cont-text {
    width: 90%;
  }
}

#m-turismo section {
  background-color: #E6DDC4;
}

#m-turismo section .fondo {
  background-color: #E6DDC4;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  -webkit-transition: 900ms;
  transition: 900ms;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  #m-turismo section .fondo {
    background-color: #F0E9D2;
  }
}

@media all and (max-width: 344px) {
  #m-turismo section .fondo {
    padding: 0.5rem;
  }
}

#m-turismo section .fondo:hover {
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-turismo section .fondo .image img {
  width: 80%;
  border-radius: 5px;
}

#m-turismo section .cont__formulario form {
  border: 2px brown solid;
  border-radius: 5px;
  padding: .5rem 1rem;
}

#m-turismo section .cont__formulario form div {
  margin: 1rem 0;
}

#m-turismo section .cont__formulario form div .input {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border: none;
}

#m-turismo section .cont__formulario form div .input:hover {
  background-color: #F0E9D2;
}

#m-turismo section .cont__formulario form div textarea {
  border: none;
  min-height: 15rem;
  max-height: 15rem;
  max-width: 100%;
  min-width: 100%;
}

#m-turismo section .cont-img-m img {
  -webkit-animation: move_img 5s ease-in-out infinite forwards;
          animation: move_img 5s ease-in-out infinite forwards;
  width: 100%;
}

@-webkit-keyframes move_img {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes move_img {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

#m-rest section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-rest section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-rest section .cont-table table {
  width: 80%;
  cursor: pointer;
}

@media all and (max-width: 576px) {
  #m-rest section .cont-table table {
    width: 90%;
  }
}

#m-rest section div:nth-child(2) {
  height: 60%;
}

#m-rest section div:nth-child(2) div {
  height: 100%;
  width: 80%;
}

#m-rest section div:nth-child(2) div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

#m-bodega section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-bodega section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-bodega section .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-bodega section .cont-max {
  max-width: 1400px;
}

#m-bodega section .personal img {
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
  border-radius: 50%;
}
/*# sourceMappingURL=estilos.css.map */