@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

@media all and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

.espacio-nav {
  margin-top: 55px;
}

@media all and (max-width: 992px) {
  .espacio-nav {
    margin-top: 0px;
  }
}

.cont-img {
  width: 50%;
}

@media all and (max-width: 768px) {
  .cont-img {
    width: 80%;
  }
}

.cont-img img {
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
}

.miBoton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.miBoton:hover {
  border: 2px solid #533535;
}

.color-btn-uno {
  background-color: #F0E9D2;
}

.color-btn-dos {
  background-color: #E6DDC4;
}

.tamModal {
  max-width: 1300px;
}

.colorModal {
  background-color: #F0E9D2;
}

header nav {
  background-color: #E6DDC4;
}

header nav .alto-nav {
  height: auto;
}

@media all and (min-width: 992px) {
  header nav .alto-nav {
    height: 55px;
  }
}

header nav .alto-nav .cont-enlaces a {
  font-size: 1.2rem;
  position: relative;
}

header nav .alto-nav .cont-enlaces a::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #533535;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 600ms ease-out;
  transition: -webkit-transform 600ms ease-out;
  transition: transform 600ms ease-out;
  transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

header nav .alto-nav .cont-enlaces a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media all and (max-width: 992px) {
  header .fixed-top {
    position: static;
  }
}

footer {
  background-color: #533535;
  color: #F0E9D2;
}

footer .row div:nth-child(2) a {
  color: #F0E9D2;
}

footer .row div:nth-child(3) .cont-redes {
  width: 50%;
}

@media all and (max-width: 768px) {
  footer .row div:nth-child(3) .cont-redes {
    width: 75%;
  }
}

footer .row div:nth-child(3) .cont-redes a i {
  color: #F0E9D2;
  font-size: 3rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer .row div:nth-child(3) .cont-redes a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media all and (max-width: 768px) {
  footer .row div:nth-child(3) .cont-iframe {
    height: 60%;
    width: 100%;
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
}

#m-index section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-index section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-index section .carousel .carousel-item {
  height: calc(100vh - 55px);
}

#m-index section .carousel .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-index section .cont-text {
  width: 80%;
}

@media all and (max-width: 576px) {
  #m-index section .cont-text {
    width: 90%;
  }
}

#m-vinos section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-vinos section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-vinos .cont-text {
  width: 80%;
}

@media all and (max-width: 576px) {
  #m-vinos .cont-text {
    width: 90%;
  }
}

#m-turismo section:nth-child(1) {
  background-color: #F0E9D2;
}

#m-turismo section {
  background-color: #E6DDC4;
}

#m-turismo section .fondo {
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  -webkit-transition: 900ms;
  transition: 900ms;
}

@media all and (max-width: 768px) {
  #m-turismo section .fondo {
    background-color: #F0E9D2;
  }
}

@media all and (max-width: 576px) {
  #m-turismo section .fondo {
    padding: 1rem;
  }
}

#m-turismo section .fondo:hover {
  -webkit-box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.32);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#m-turismo section .fondo .image img {
  width: 80%;
  border-radius: 5px;
}

#m-turismo section .cont__formulario form {
  border: 7px solid #F0E9D2;
  border-radius: 5px;
  padding: .5rem 1rem;
}

#m-turismo section .cont__formulario form div {
  margin: 1rem 0;
}

#m-turismo section .cont__formulario form div .input {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border: none;
}

#m-turismo section .cont__formulario form div .input:hover {
  background-color: #F0E9D2;
}

#m-turismo section .cont__formulario form div textarea {
  border: none;
  min-height: 15rem;
  max-height: 15rem;
  max-width: 100%;
  min-width: 100%;
}

#m-turismo section .cont-move img {
  -webkit-animation: move_img 5s ease-in-out infinite forwards;
          animation: move_img 5s ease-in-out infinite forwards;
}

@-webkit-keyframes move_img {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes move_img {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

#m-rest section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-rest section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-rest section .fondo-rest {
  height: calc(100vh - 55px);
  background: url(../asset/almuerzo-fondo.jpg) no-repeat center fixed;
}

#m-rest section .cont-chef {
  width: 50%;
}

#m-rest section .cardMio {
  background-color: #F0E9D2;
  border: none;
  border-radius: 5px;
}

#m-bodega section:nth-child(odd) {
  background-color: #F0E9D2;
}

#m-bodega section:nth-child(even) {
  background-color: #E6DDC4;
}

#m-bodega section .carousel .carousel-item {
  height: calc(100vh - 55px);
}

#m-bodega section .carousel .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

#m-bodega .galeria img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  border-radius: 4px;
}

#m-bodega .galeria img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=estilos.css.map */