@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem; 
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.containerMio{ /* Utilidades */
    height: 100vh;
}
.container__turismo{
    height: 100vh;
}
.section{  /* Utilidades */
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.cont__text{ /* Utilidades */
    width: 40%;
}

.titulo{ /* Utilidades */
    text-align: center;
    font-size: 4rem;
    margin: 4.5rem 0 ;
}

.negrita{  /* Utilidades */
    font-weight: 700;
}

.button{  /* Utilidades */
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
    padding: .8rem 2.4rem;
    border-radius: 15px;
    transition: all 200ms; 
    border: none;
}

.button:hover{  /* Utilidades */
    padding: .8rem 4.8rem;
}

.main__vinos .cont__img{ /* Utilidades */
    width: 100%;
    position: relative;
    object-fit: contain;
}

.main__vinos .cont__img a{ /* Utilidades */
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    text-align: center;
}


/* --- HEADER HOME ---  */

    /* BOOTSTRAP */

    .mt-5 {
        margin-top: 7.5rem !important;
    }

    .container-fluid .carousel .carousel-item{
        height: 92vh;
        width: 100vw;
    }

    .container-fluid .carousel .carousel-item img{
        object-fit: cover;
    }
/* --- MAIN ---  */

.margin__right{
    margin: 0 5% 0 0;
}
.fondoUno{
    background-color: #E6CCA9;
}
.fondoDos{
    background-color: #DFD8CA;
}


/* TEXTO / BOTON */


.cont__text p{
    margin: 3.2rem 0;
}

.main .cont__text .cont__btn{
    display: flex;
    justify-content: center;
}

.main .cont__img img{
    width: 50rem;
    border-radius: 2rem;
}

/* --- FOOTER --- */

.footer{
    background-color: #533535;
    height: 400px;
}

.footer .cont__redes{
    font-size: 70px;
    text-align: center; 
    width: 45rem;
}

.footer .cont__redes .cont__redesIconos{
    display: flex;
    justify-content: space-evenly;
}

.footer .cont__redes a{
    color: #E6CCA9;
}

.footer .cont__redes p{
    margin: 3.2rem 0;
}

.footer .mapa{
    width: 50%;
    height: 90%;
}

/* ----------------------   SECCION VINOS  --------------------------*/

.main__vinos .grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.main__vinos .grilla div{
    border: #ccc 1px solid;
}

.main__vinos .cont__img.img1{
    background: url(../assets/primera.jpg) no-repeat center;
}
.main__vinos .cont__img.img2{
    background: url(../assets/segunda.jpg) no-repeat center;
}
.main__vinos .cont__img.img3{
    background: url(../assets/tercera.jpg) no-repeat center;
}
.main__vinos .cont__img.img4{
    background: url(../assets/cuarta.jpg) no-repeat center;
}

.containerMio.section .cont__text span{
    display: block;
    font-size: 4.5rem;
    margin: 0.5rem 0 5rem 0;
}

/* ----------------------   SECCION TURISMO  --------------------------*/

.cont__tarjetas{
    display: grid;
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: repeat(2,50vh);
    justify-items: center;
    align-items: center;
    justify-content: end;
}

.section__t{
    position: relative;
}

.cont__img__gen{
    width: 100%;
    height: 100%;
}

.cont__img__gen img{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}

.cont__t{ /* Utilidades */
    width: 85%;
    text-align: center;
}

.separador{
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

/* formulario */

.cont__formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont__form{
    width: 100%;
}
.formulario{
    border: 2px brown solid;
    border-radius: 5px;
    width: 55rem;
    height: 50rem;
    padding: 2rem 2rem;
}

.cont__formulario img{
    animation: move_img 5s ease-in-out infinite forwards;
    width: 90%;
}

@keyframes move_img {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(15px);
    }
}

.formulario div{
    margin: 1rem 0;
}

.formulario div .input{
    width: 100%;
    height: 4rem;
    cursor: pointer;
    border: 2px #000 solid;
}

.formulario div .input:hover{
    background-color: burlywood;
}

.formulario div textarea{
    border: 2px #000 solid;
    min-height: 15rem;
    max-height: 15rem;
    max-width: 100%;
    min-width: 100%;
}

/* ----------------------   SECCION RESTAURANTE  --------------------------*/

.contImgRest-1{
    background: url(../assets/fondoRest.jpg) no-repeat center fixed;
    height: 100vh;
}
.contImgRest-2{
    background: url(../assets/imgrest2.jpg) no-repeat center fixed;
    height: 100vh;
}
.contImgRest-3{
    background: url(../assets/imgrest3.jpg) no-repeat center fixed;
    height: 100vh;
}
.contImgRest-4{
    background: url(../assets/imgrest4.jpg) no-repeat center fixed;
    height: 100vh;
}

.TableRest{
    display: flex;
    height: 52vh;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.contenidoTableRest{
    margin-top: 9rem;
}

.TableRest table{
    border-spacing: 2.2rem;
    margin-top: -8rem;
}

.menuRest{
    position: relative;
    top: 2rem;
    right: 8rem;
}

/* ----------------------   SECCION BODEGA  --------------------------*/

/* .conImgBod{
    background: url(../assets/bodegafinal.jpg) no-repeat center fixed;
    height: 100vh;
} */

.espacio__texto{
    line-height: 2.5rem;
    padding: 1rem;
}
.centrado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont__img__bodega{
    background: url(../assets/bodegasegundo.jpg) no-repeat center;
    width: 70%;
    height: 90%;
}

.cont__img__bodega p{
    color: #fff;
    font-size: 2rem;
    margin-left: 62rem;
    padding: 0 7rem 0 0;
    font-weight: 400;
}

.container__bodega{
    height: 80rem;
    margin-top: -5rem;
}

.container__bodega .section div{
    margin-top: 2rem;
}

.textos__width{
    width: 50%;
    margin: 0 auto;
}

.container__bodega .nombres{
    text-align: center;
}

@media all and (max-width: 992px){
    .main .cont__img img{
        width: 35rem;
        border-radius: 10px;
    }
}

@media all and (max-width: 576px){
   
    html{
        font-size: 40%;
    }   
    .titulo{ /* Utilidades */
        text-align: center;
        font-size: 4rem;
    }
    .section{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .sectionMobile{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .cont__text{
        width: 85%;
    }
    .main .cont__img img{
        margin-left: 25%;
        width: 50%;
        border-radius: 10px;
    }
    .footer .cont__redes{
        font-size: 6.4rem;
    }
    .footer .cont__redes p{
        margin: 1.6rem 0;
    }
    .footer .mapa{
        width: 90%;
        height: 50%;
    }

    /* 2da pagina */
    
    .main__vinos .grilla{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 241px;
    }
    .main__vinos .cont__img a{ /* Utilidades */
        top: 50%;
    }
    .main__vinos .sectionfila{
        flex-direction: row;
    }
    .main__vinos .sectionfila img{
        width: 100%;
    }

    /* 3era pagina */

    .separador{
        display: none;
    }
    .container__turismo{ 
        height: auto;
    }
    .cont__tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);  
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete"
        "ocho"
        "nueve"
        "diez"
        "once"
        "doce";
        justify-items: center;
        align-items: center;
    }
    .tres{
        grid-area: tres;
    }
    .ocho{
        grid-area: siete;
    }
    .doce{
        grid-area: once;
    }
    .cont__img__gen{
        width: 100%;
        height: 100%;
    }
    .cont__img__gen img{
        width: 100vw;
        height: 63rem;
        object-fit: cover;
    }

    /* formulario */
     
    .cont__formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .formulario{
        width: 100%;
        height: 100%;
        padding: 2rem;
        margin-bottom: 10rem;
    }
    .cont__formulario img{
        width: 70%;
        position: relative;
        left: 11rem;
        top: 2.5rem;
    }  
    .formulario div textarea{
        border: 2px #000 solid;
    } 
    .formulario div .input{
        width: 100%;
        height: 4rem;
        border: 2px #000 solid;
    }
    
    /* 4ta pagina */

    .TableRest{
        display: flex;
        flex-direction: column;
        height: 0%;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: nowrap;
    }
    .reverseMobile{
        display: flex;
        flex-direction: column-reverse;
        height: 0%;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: nowrap;
    }
    .contenidoTableRest{
        margin-top: 0rem;
    }
    .TableRest table{
        border-spacing: 2.2rem;
        margin-top: 0rem;
    }
    .menuRest{
        display: none;
    }

    /* 5ta pagina */

    .espacio__texto{
        line-height: 2.5rem;
        padding: 1rem;
    }
    .centrado{
        width: 100%;
        height: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont__img__bodega{
        background: url(../assets/bodegasegundo.jpg) no-repeat center;
        width: 100%;
        height: 100%;
    }
    .cont__img__bodega p{
        color: #fff;
        font-size: 2rem;
        margin-left: 0rem;
        padding: 0 5rem;
        font-weight: 400;
    }
    .containerMobile{
        height: 0%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container__bodega{
        height: 0%;
    }
    .bodegaTopTittle{
        margin-top: 5rem;
    } 
    .textos__width{
        width: 85%;
        margin: 0 auto;
    }
}


@media all and (max-width: 481px){
    .main__vinos .grilla{
        margin-top: 23rem;
    }
    .header .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .8rem; 
    }
    .header .nav .cont__menu li{
        margin: 2rem 0; 
        display: block;
    }
}
