// Import

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// Mapas

$colores:(
    c-uno: #F0E9D2,
    c-dos: #E6DDC4,
    c-tres: #533535,
    blanco: #fff,
    negro: #000
);

$tamaños-media:(
    t-menor: 481px,
    t-medio: 576px,
    t-mayor: 767px,
    t-mmayor: 991px
);

$tamaños-fontW:(
    fw-menor: 300,
    fw-medio: 400,
    fw-mayor: 700
);

*{
    margin: 0 ; padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
    @media all and (max-width: 1130px) {
        font-size: 14px; // usar clase de bootstrap
    }
    @media all and (max-width:475px) {
        font-size: 12px; // usar clase de bootstrap
    }
}
// %

%borde{
    border-radius: 20px;
}

// Mixin
.cont-altura{
    height: auto;
    & > div{
        padding: 5rem 0;
    }
    @media all and (max-width: 767px) {
        & > div{
            padding: 1.5rem 0;
        }
    }
   
}
@mixin bg-colors {
    &:nth-child(odd){
        background-color: map-get($colores,c-uno);
    }
    &:nth-child(even){
        background-color: map-get($colores,c-dos);
    }
}

@mixin centrado-cajas {
    @media all and (max-width: map-get($tamaños-media, t-mayor )) {
        width: 65%;
    }
}

@mixin centrado-texto {
    width: 80%;
    @media all and (max-width: map-get($tamaños-media, t-medio )) {
        width: 90%;
    }
}
@mixin sombra {
    box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);   
}
// utilidad

.cont-img{
    width: 50%;
    @include centrado-cajas;
    img{
        @extend %borde;
        @include sombra;
    }
}   

// Header

nav{
    background-color: map-get($colores,c-dos);
    @media all and (max-width: map-get($tamaños-media, t-mmayor)) {
        background-color: map-get($colores,c-dos);
    }
    .alt-nav{
        height: auto;
        @media all and (min-width: map-get($tamaños-media, t-mmayor)) {
            height: 55px;
        }
    }
    #navbarNav{
        a{
            font-size: 1rem;
            font-weight: map-get($tamaños-fontW, fw-medio);
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #000;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 600ms ease-out ;
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
        .nav-link{
            padding-bottom: 0;
        }
    }
}
.fixed-top{
    @media all and (max-width: map-get($tamaños-media, t-mmayor)) {
        position: static;
    }
}

// Footer

footer{
    background-color: map-get($colores,c-tres);
    min-height: 40vh;
    a{
        i{
            color: map-get($colores,c-uno);
            font-size: 5rem;
            transition: 400ms;
            @media all and (max-width: map-get($tamaños-media, t-mayor)) {
                font-size: 2rem;
            }
            &:hover{
                color: map-get($colores,c-uno);
                transform: scale(1.2);
            }
        }
    }
    div:nth-child(2){
        height: 75%;
        @media all and (max-width: map-get($tamaños-media, t-mayor )) {
            height: 50%;
            width: 90%;
        }
    }
}

// ------------ INDEX ------------- 

#m-index{
    section{
        @include bg-colors;
        .carousel{
            img{
                object-fit: cover;
            }
        }
        .cont-text{
            @include centrado-texto;
            .miBoton{
                width: 100px;
                height: 40px;
                border: none;
                border-radius: 5px;
                &:hover{
                    border: 2px solid #533535;
                }
            }
            .uno{
                background-color:  map-get($colores,c-uno);
            }
            .dos{
                background-color:  map-get($colores,c-dos);
            }
        }
    }
}

// ------------ VINOS -------------


#m-vinos{
    section{
        @include bg-colors;
    }
    .cont-text{
        width: 80%;
        @media all and (max-width: map-get($tamaños-media, t-medio )) {
            width: 90%;
        }
    } 
}

// ------------ TURISMO -------------

// no terminado
#m-turismo{
    section{
        background-color: map-get($colores,c-dos);
        .fondo{
            background-color: map-get($colores,c-dos);
            padding: 2rem; 
            border-radius: 10px;
            width: 90%;
            transition: 900ms;
            cursor: pointer;
            @media all and (max-width: map-get($tamaños-media, t-mayor )) {
                background-color: map-get($colores,c-uno);
            }
            @media all and (max-width:344px) {
                padding: 0.5rem;
            }
            &:hover{
                @include sombra;
            }
            .image{
                img{
                    width: 80%;
                    border-radius: 5px;
                }
            }
        }
          
        .cont__formulario{
            form{
                border: 2px brown solid;
                border-radius: 5px;
                padding: .5rem 1rem;
                div{
                    margin: 1rem 0;
                    .input{
                        width: 100%;
                        height: 2rem;
                        cursor: pointer;
                        border: none;
                        &:hover{
                            background-color: map-get($colores,c-uno);
                        }
                    }
                    textarea{
                        border: none;
                        min-height: 15rem;
                        max-height: 15rem;
                        max-width: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
        .cont-img-m{
            img{
                animation: move_img 5s ease-in-out infinite forwards;
                width: 100%;
                @keyframes move_img {
                    0%{
                        transform: translateY(10px);
                    }
                    50%{
                        transform: translateY(-10px);
                    }
                    100%{
                        transform: translateY(10px);
                    }
                }
            }
        }
    }

}


// ------------ RESTAURANTE -------------

#m-rest{
    section{
        @include bg-colors;
        .cont-table{
            table{
                @include centrado-texto;
                cursor: pointer;
            }
        }
        div:nth-child(2){
            height: 60%;
            div{
                height: 100%;
                width: 80%;
                img{
                    width: 100%;
                    object-fit: cover; 
                    @extend %borde;
                    @include sombra;

                }
            }
        }
    }
}

// ------------ BODEGA -------------

#m-bodega{
    section{
        @include bg-colors;
        .carousel{
            img{
                object-fit: cover;
            }
        }
        .cont-max{
            max-width: 1400px; 
        }
        .personal{
            img{
                @include sombra;
                border-radius: 50%;               
            }
        }
        
    }
   
}