// Import

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// Mapas

$colores:(
    c-uno: #F0E9D2,
    c-dos: #E6DDC4,
    c-tres: #533535,
    blanco: #fff,
    negro: #000
);

$tamaños-media:(
    t-menor: 481px,
    t-medio: 576px,
    t-mayor: 768px
);

$tamaños-fontW:(
    fw-menor: 300,
    fw-medio: 400,
    fw-mayor: 700
);

*{
    margin: 0 ; padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 1rem;
    @media all and (max-width: map-get($tamaños-media, t-menor )) {
        font-size: .8rem;
    }
    
}

// %

%altura{
    height: 100vh;
}

// Mixin

@mixin bg-colors {
    &:nth-child(odd){
        background-color: map-get($colores,c-uno);
    }
    &:nth-child(even){
        background-color: map-get($colores,c-dos);
    }
}

@mixin centrado-cajas {
    width: 50%;
    margin: 0 auto;
    @media all and (max-width: map-get($tamaños-media, t-medio )) {
        width: 65%;
    }
}

@mixin centrado-texto {
    width: 80%;
    margin: 0 auto;
    @media all and (max-width: map-get($tamaños-media, t-medio )) {
        width: 90%;
    }
}

// Header

nav{
    
    @media all and (max-width: map-get($tamaños-media, t-mayor )) {
        background-color: map-get($colores,c-dos);
    }
    .navbar-nav{
        a{
            font-size: 1rem;    
            font-weight: map-get($tamaños-fontW, fw-medio);
            margin-bottom: 0;
            
            &:hover{
                border-bottom: 1px #000 solid;
                @media all and (max-width: map-get($tamaños-media, t-mayor )) {
                    border-bottom: none;
                }
            }
        }
        .nav-link{
            padding: 0;
        }
    }
}
.fixed-top{
    @media all and (max-width: map-get($tamaños-media, t-mayor )) {
        position: static;
    }
}

// Footer

footer{
    background-color: map-get($colores,c-tres);
    & > div{
        height: 40vh;
        a{
            i{
                color: map-get($colores,c-uno);
                font-size: 5rem;
                transition: 400ms;
                @media all and (max-width: map-get($tamaños-media, t-mayor)) {
                    font-size: 2rem;
                }
                &:hover{
                    color: map-get($colores,c-uno);
                    transform: scale(1.2);
                }
            }
        }
        iframe{
            height: 20rem;
            width: 75%;
            @media all and (max-width: map-get($tamaños-media, t-mayor )) {
                height: 10rem;
                width: 90%;
            }
        }
    }
}

// ------------ INDEX -------------

#m-index{

    section{
        @extend %altura;
        @include bg-colors;
        
        & > div{
            @extend %altura;
        }
        .carousel{
            img{
                @extend %altura;
                object-fit: cover;
            }
        }
        .cont-text{
            @include centrado-texto;
        }
        .cont-img{
            @include centrado-cajas;
            img{
                display: block;
                margin: 0 auto;
                width: 100%;
                border-radius: 20px;
                box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);
            }
        }
    }
}

// ------------ VINOS -------------

#m-vinos{
    section{
        @extend %altura;
        @include bg-colors;
        & > div{
            @extend %altura;
        }
    }
    .cont-text{
        width: 80%;
        margin: 0 auto;
        @media all and (max-width: map-get($tamaños-media, t-medio )) {
            width: 90%;
        }
    }
    .cont-img{
        @include centrado-cajas;
        img{
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);
        }
    }    
    .cont-botellitas{
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    } 
}

// ------------ TURISMO -------------

#m-turismo{
    section{
        & > div{
            @extend %altura;
            @media all and (max-width: map-get($tamaños-media, t-medio )) {
                height: 0%;;
            }
            &:nth-child(2){
                margin-top: -10%;
                @media all and (max-width: map-get($tamaños-media, t-medio )) {
                    margin-top: 0%;
                }
            }
        }
        height: auto;
        background-color: map-get($colores,c-dos);
        .tarjeta-primera{
            @media all and (max-width: map-get($tamaños-media, t-medio )) {
                margin-top: 5% ;
            }
        }
        .tarjeta{
            @media all and (max-width: map-get($tamaños-media, t-medio )) {
                margin-bottom: 10% ;
            }
            .fondo{
                margin: 0 auto;
                background-color: map-get($colores,c-dos);
                padding: 2rem;
                border-radius: 10px;
                width: 90%;
                transition: 900ms;
                cursor: pointer;
                @media all and (max-width: map-get($tamaños-media, t-mayor )) {
                    background-color: map-get($colores,c-uno);
                }
                &:hover{
                    box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);
                }
                .image{
                    img{
                
                        width: 80%;
                        margin: 0 auto;
                        border-radius: 5px;
                    }
                }
            }
        }    
    }
}


// ------------ RESTAURANTE -------------

#m-rest{
    section{
        @extend %altura;
        @include bg-colors;
        
        .cont-table{
            height: 100vh;
            @media all and (max-width: map-get($tamaños-media, t-medio )) {
                height: 70vh;
            }
            table{
                margin: 0 auto;
                width: 80%;
                cursor: pointer;
                @media all and (max-width: map-get($tamaños-media, t-medio )) {
                    width: 100%;;
                    margin-top: 25%;
                }
            }
        }
        .cont-img{
            margin: 0 auto;
            height: 100vh;
            @media all and (max-width: map-get($tamaños-media, t-medio )) {
                height: 30vh;
            }
            div{
                height: 60%;
                width: 100%;
                img{
                    width: 80%;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                    object-fit: cover;
                    border-radius: 20px;
                    box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);

                }
            }
           
        }
        
    }
}

// ------------ BODEGA -------------

#m-bodega{
    section{
        @include bg-colors;
        
        @extend %altura;
        @media all and (max-width: map-get($tamaños-media, t-medio )) {
            height: 0%;;
        }
       
        .carousel{
            img{
                @extend %altura;
                object-fit: cover;
            }
        }
        .cont-max{
            max-width: 1400px;
        }
        .personal{
            img{
                display: block;
                margin: 0 auto;
                box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);
                border-radius: 50%;
                
            }
        }
        
    }
   
}