// Import

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Mapas

$colores:(
    c-uno: #F0E9D2,
    c-dos: #E6DDC4,
    c-tres: #533535
);

$tamaños-media:( 
    t-sm: 576px,
    t-md: 768px,
    t-lg: 992px, 
    t-xl: 1200px
);

// %

%borde{
    border-radius: 20px;
}

// Mixin

@mixin bg-colors {
    &:nth-child(odd){
        background-color: map-get($colores,c-uno);
    }
    &:nth-child(even){
        background-color: map-get($colores,c-dos);
    }
}
@mixin carruselW {
    .carousel-item {
        height: calc(100vh - 55px);
        img{
            object-fit: cover;
        }
    }
}

//  General

*{
    margin: 0 ; padding: 0;
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    @media all and (max-width: map-get($tamaños-media,t-xl)) {
        font-size: 14px;
    }
    @media all and (max-width: map-get($tamaños-media,t-sm)) {
        font-size: 12px;
    }
}

// utilidad

.espacio-nav{
    margin-top: 55px;
    @media all and (max-width: map-get($tamaños-media, t-lg )) {
        margin-top: 0px;
    }
}

.cont-img{
    width: 50%;
    @media all and (max-width: map-get($tamaños-media,t-md )) {
        width: 80%;
    }
    img{
        border-radius: 40px;
        box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);  
    }
} 

.miBoton{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    &:hover{
        border: 2px solid #533535;
    }
}
.color-btn-uno{
    background-color:  map-get($colores,c-uno);
}
.color-btn-dos{
    background-color:  map-get($colores,c-dos);
}
.tamModal{
    max-width: 1300px;
}
.colorModal{
    background-color: map-get($colores,c-uno);
}

// Compartido

header{
    nav{
        background-color: map-get($colores,c-dos);
        .alto-nav{
            height: auto;
            @media all and (min-width: map-get($tamaños-media, t-lg)) {
                height: 55px;
            }
            .cont-enlaces{
                a{
                    font-size: 1.2rem;
                    position: relative;
                    &::after{
                        content: ' ';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: map-get($colores, c-tres);
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 600ms ease-out ;
                    }
                    &:hover{
                        &::after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }
            }
        }
    }
    .fixed-top{
        @media all and (max-width: map-get($tamaños-media, t-lg)) {
            position: static;
        }
    }
}

footer{
    background-color: map-get($colores,c-tres);
    color: map-get($colores,c-uno);
    .row{
        div:nth-child(2){
            a{
                color: map-get($colores,c-uno);
            }
        }
        div:nth-child(3){
            .cont-redes{
                width: 50%;
                @media all and (max-width: map-get($tamaños-media,t-md )) {
                    width: 75%;
                }
                a{
                    i{
                        color: map-get($colores,c-uno);
                        font-size: 3rem;
                        transition: 500ms;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }     
            }
            .cont-iframe{
                @media all and (max-width: map-get($tamaños-media,t-md )) {
                    height: 60%; 
                    width: 100%; 
                }
            } 
        }
    }
}

h1, h2 , h3, h4{
    font-weight: 700;
}

// ------------ INDEX ------------- 


#m-index{
    section{
        @include bg-colors;
        .carousel{
            @include carruselW;
        }
        .cont-text{
            width: 80%;
            @media all and (max-width: map-get($tamaños-media, t-sm )) {
                width: 90%;
            }          
        }
    }
}

// ------------ VINOS -------------

#m-vinos{
    section{
        @include bg-colors;
    }
    .cont-text{
        width: 80%;
        @media all and (max-width: map-get($tamaños-media, t-sm )) {
            width: 90%;
        }
    } 
}

// ------------ TURISMO -------------

#m-turismo{
    section{
        @include bg-colors;
        .fondo{
            padding: 2rem; 
            border-radius: 10px;
            width: 90%;
            transition: 900ms;
            background-color: map-get($colores,c-uno);
            @media all and (max-width:map-get($tamaños-media,t-sm)) {
                padding: 1rem;
            }
            &:hover{
                box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.32);   
                transform: scale(1.02);
            }
            .image{
                img{
                    width: 80%;
                    border-radius: 5px;
                }
            }
        }     
        .cont__formulario{
            form{
                border: 7px solid map-get($colores,c-dos);
                border-radius: 5px;
                padding: .5rem 1rem;
                div{
                    margin: 1rem 0;
                    .input{
                        width: 100%;
                        height: 2rem;
                        cursor: pointer;
                        border: none;
                        &:hover{
                            background-color: map-get($colores,c-uno);
                        }
                    }
                    textarea{
                        border: none;
                        min-height: 15rem;
                        max-height: 15rem;
                        max-width: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
        .cont-move{
            img{
                animation: move_img 5s ease-in-out infinite forwards;
                @keyframes move_img {
                    0%{
                        transform: translateY(10px);
                    }
                    50%{
                        transform: translateY(-10px);
                    }
                    100%{
                        transform: translateY(10px);
                    }
                }
            }
        }
    }
}

// ------------ RESTAURANTE -------------

#m-rest{
    section{
        @include bg-colors;
        .cardMio{
            background-color: map-get($colores,c-uno);
            border: none;
            border-radius: 5px;
        }
    }
}

// ------------ BODEGA -------------

#m-bodega{
    section{
        @include bg-colors;
        .carousel{
            @include carruselW;
        } 
        .galeria{    
            img{
                object-fit: cover;
                transition: 500ms;
                cursor: pointer;
                border-radius: 4px;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}
